{{>ezenweb/header}}
<div class="container">
    <div class="loginForm">
        <h3>로그인 페이지</h3>
        <div>
            아이디 : <input type="text" id="id"/>
            비밀번호 : <input type="text" id="pw"/>
            <a href="/member/signup">회원가입</a>
            <button type="button" onclick="login()" class="longBtn">로그인</button>
        </div>
    </div>
</div>
<script src="/js/member.js"></script>
{{>ezenweb/footer}}