{{>ezenweb/header}}

    <h1>회원가입 페이지</h1>
    <form class = "signUpForm">
        <div> 아이디 </div>
        <input onkeyup="idcheck()" type="text" id="id" name="id"/>
        <div class="idcheckbox"> 유효성검사결과</div>

        <div> 패스워드 </div>
        <input onkeyup="pwcheck()" type="text" id="pw" name="pw"/>
        <div> 패스워드 확인 </div>
        <input onkeyup="pwcheck()" type="text" id="pwconfirm" name="pwconfirm"/>
        <div class="pwcheckbox"> 유효성검사결과</div>

        <div>이름</div>
        <input onkeyup="namecheck()" type="text" id="name" name="name"/>
        <div class="namecheckbox"> 유효성검사결과</div>

        <div>전화번호</div>
        <input onkeyup="phonecheck()" type="text" id="phone" name="phone"/>
        <div  class="phonecheckbox"> 유효성검사결과</div>

        <div>이메일</div>
        <input onkeyup="emailcheck()" type="text" id="email" name="email"/>
        <div  class="emailcheckbox"> 유효성검사결과</div>

        <div>프로필 사진</div>
        <input onchange="onChangeImg(this)" type="file" id="img" name="img" accept="image/*"/> <br/>
        미리보기 :
        <div><!--첨부파일 미리보기-->
            <img id="preimg" src="" alt="">
        </div>
        <button type="button" onclick="signup()">회원가입</button>
        <a href="/member/login">로그인</a>
    </form>
    <script src="/js/member.js"></script>
{{>ezenweb/footer}}