{{>ezenweb/header}}
<div class="container">
    <div class="boardViewBox">
        <div><span class="btitle">제목 자리</span></div>
        <div>
            <div><span>카테고리</span><span class="bcno"></span></div>
            <div><span>작성자</span><span class="mid"></span></div>
            <div><span>작성일</span><span class="bdate"></span></div>
            <div><span>조회수</span><span class="bview"></span></div>
        </div>
        <div class="bcontent">

        </div>
        <div>
            <span>첨부파일</span><span class="bfile">첨부파일자리</span>
        </div>
    </div>
    <div class="btnBox">
        <button onclick="location.href='/board'">목록보기</button>
    </div>
    <div class="replyBox">
        <div>
            <textarea class="brcontent0"></textarea>
            <button onclick="onRelyWrite(0)" type="button">댓글작성</button>
        </div>
        <div class="replyListBox">

        </div>
    </div>
</div>

<script src="/js/board/view.js"></script>
{{>ezenweb/footer}}